version: "3.9"
services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  nginx:
    image: nginx:stable
    depends_on:
      - redis
    ports:
      - "8080:80"
    volumes:
      - ./web/static:/usr/share/nginx/html/static:ro
      - ./infra/nginx.conf:/etc/nginx/nginx.conf:ro
